<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="false">

    <description>
       미니 프로젝트로 [수업 관리 시스템]을 구현한 웹 애플리케이션이다. 
    </description>
    <display-name>Classroom Management System(CMS)</display-name>

    <!-- 컨텍스트 초기화 파라미터 설정 -->
    <context-param>
        <param-name>jdbc.driver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc.url</param-name>
        <param-value>jdbc:mariadb://localhost:3306/studydb</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc.username</param-name>
        <param-value>study</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc.password</param-name>
        <param-value>1111</param-value>
    </context-param>
    
    <!--
       다음 태그가 지원이 안되는 경우,
       request.setCharacterEncoding()으로 POST 요청 한글 데이터를 처리해야 한다.  
    <request-character-encoding>UTF-8</request-character-encoding>
    -->
    
    <!-- 리스너 배치하기 -->
    <listener>
        <listener-class>bitcamp.java110.cms.listener.ContextLoaderListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>bitcamp.java110.cms.servlet.DispatcherServlet</servlet-class>
        <multipart-config>
            <max-file-size>2000000</max-file-size>
        </multipart-config>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    
    
    <!-- 클라이언트가 요청한 URL에 대해 기본 파일을 찾을 때 우선 순위 -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>










