@charset "UTF-8";

header {
    overflow: hidden;
    padding: 0px;
}

header > h1 {
    margin: 0px;
    float: left;
    background: url('http://bitcamp.co.kr/img/logo2.jpg') no-repeat -25px 50%;
    background-size: contain; 
    height: 0;
    padding-top: 40px;
    overflow: hidden;
}

li {
    float: right;
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}

footer {
    background-color: navy;
    color: white;
}

footer > p {
    padding: 10px;
	text-align: center;
}























