<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis-config.xml -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
  <properties resource="bitcamp/java110/cms/conf/jdbc.properties"></properties>  

  <typeAliases>
    <package name="bitcamp.java110.cms.domain"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="bitcamp/java110/cms/mapper/MemberDao.xml"/>
    <mapper resource="bitcamp/java110/cms/mapper/PhotoDao.xml"/>
    <mapper resource="bitcamp/java110/cms/mapper/ManagerDao.xml"/>
    <mapper resource="bitcamp/java110/cms/mapper/StudentDao.xml"/>
    <mapper resource="bitcamp/java110/cms/mapper/TeacherDao.xml"/>
  </mappers>
</configuration>







